/* Generic styling */
* {}

html {
  font: 100% / 250% "Helvetica";
}

body {
  font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0px;
}




.dotted {
  display:flex;
justify-content:center;
align-items:center;

}




#Begin {
  background-color: #ff8000;
}

header img {
  max-width: 150px
}

li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#zowerkt {
  color: black;
  font-weight: normal;
}

#simpel {
  color: #ff8000;
}

img {
  max-width: 100%
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

p {}

ul {}

li {}

a {}

a:link {}

a:visited {}

a:hover, a:focus {}

a:active {}

button {}

/* form styling */
form {
  text-align: center;
}

fieldset {}

legend {}

label {}

input {}

input:invalid {}

/* Section styling */
header {
  background-color: #ff8000;
}

​​ #div {
  background-color: #ff8000;
  transform: rotate(350deg) translateX(-50px);
  width: 200%;
  z-index: 4;
}

header h1 {}

main {}

main button {}

section {}

section header {}

section h2 {}

article {}

article header {}

article h3 {}

article footer {}

aside {}

footer {}

/* Component styling */
section#some-ultra-cool-component {}

/* Breakpoints */
@media all and (min-width: 10em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
