/* Generic styling */
* {

}
html {
  font: 100% / 250% "Helvetica";
}
body {
  font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
      font-weight: 400;
}

#Begin {background-color: #ff8000;}
#logo {max-width: 100}
img {max-width: 400px}
h1 {
  color:white;
}
h2 {
}
  h3 {
    color:white;
  }
p {

}
ul {

}
li {

}
a {

}
a:link {

}
a:visited {

}
a:hover, a:focus {

}
a:active {

}
button {

}

/* form styling */
form {

}
  fieldset {

  }
    legend {

    }
    label {

    }
    input {

    }
    input:invalid {

    }

/* Section styling */
header { background-color: #ff8000;
{max-width: 100px}
}
  header h1 {

  }

main {

}
  main button {

  }
section {

}
  section header {

  }
  section h2 {

  }
article {

}
  article header {

  }
  article h3 {

  }
  article footer {

  }

aside {

}

footer {

}

/* Component styling */
section#some-ultra-cool-component {

}

/* Breakpoints */
@media all and (min-width: 10em) {

}

@media all and (min-width: 60em) {

}

@media all and (min-width: 90em) {

}
