/* Generic styling */
* {}

html {
  font: 100% / 250% "Helvetica";
}

body {
  font-family: Takeaway Sans, Avant Garde, Century Gothic, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0px;
}

header {
  background-color: #ff8000;
  align-items:center;
  margin-left: 0px;
  border-left: 10px solid #ff8000;
  border-top: 10px solid #ff8000;
  border-bottom: 15px solid #ff8000;
}

#begin {
        background-color: #ff8000;
}

#slider {
        margin-top: 100;
}
form {
  border-left: 60px solid #ff8000;
  margin-top: 10px;
  margin-bottom: 0px;
  height: 40px;

}
#text {
  font-size: 15px;
  width: 180px;
  height: 45px;
  border-radius: 5px;
  border-width: 0px;
  padding-left: 15px;
}
#zoek {
  background-color: #1569C7;
  color: white;
  margin: -10px;
  width: 60px;
  height: 49px;
  border-radius: 5px;
  border-width: 0px;
}
/* Image */

 .image{
        width: 100%;
        position: absolute;
        top: 250px;
        left: 0;
    }


  .overlay{
       	top: 15px;
        left: -10px;
        z-index: 1;
     	  height:0;
        width:0;
      	border-top: 40px solid #ff8000 ;
      	border-right: 375px solid transparent;
      	position: relative;
}


header img {
  max-width: 150px;
  margin: 0;
}

li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2 {
  font-size: 17px;
  color: white;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  margin-top: 190px;
  color: black;
  font-weight: bold;
  text-align: center;
}

h4 {
  margin-top: -20px;
  color: #ff8000;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

h5 {
  color: black;
  font-weight: bold;
  text-align: center;
}

h6 {
  color: #ff8000;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

img {
  max-width: 100%
}

.dotted {
  display:flex;
  justify-content:center;
  align-items:center;
}

.locatie {
  margin-right: 90px;
}











p {}

ul {}

li {}

a {}

a:link {}

a:visited {}

a:hover, a:focus {}

a:active {}

button {}

/* form styling */





fieldset {}

legend {}

label {}

input {}

input:invalid {}








/* Section styling */


header h1 {}

main {}

main button {}

section {}

section header {}

section h2 {}

article {}

article header {}

article h3 {}

article footer {}

aside {}

footer {}

/* Component styling */
section#some-ultra-cool-component {}

/* Breakpoints */
@media all and (min-width: 10em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
